.footer{
    padding:4rem;
    background-color:#999;
    border-top: 1px solid rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: space-around;
   
    &__list{
        list-style: none;


    }

    &__item{
        margin:.5rem 0;
        padding-bottom: .1rem;
        
    }
    &__link{
        text-decoration: none;
        color:white;

    }
}