body{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.527);
    padding: .6rem 0;
    
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:80%;
        margin:0 auto;
    
      }

    
    &__list{
        display:flex;
        list-style: none;
        }
    &__item{
        margin:0 1.4rem;
    }
     &__link{
        text-decoration: none;
        color:orange;
        font-family: Arial;
        font-weight: bold;
        text-transform: uppercase ;
    }
}
.logo{
    width: 6rem;
    height: 5rem;
    border-radius: 50%;
}
